/* styles.css */
body {
  margin: 0;
  overflow: auto;
  font-family: Arial, sans-serif;
  background-color: #191d28;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Drawer */
#hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: white;
  font-size: 24px;
}

#hamburger-menu:hover i {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  color: #ffd700;
}

/* CSS for the transition */
#hamburger-menu .fa-bars {
  transition: transform 0.3s ease;
}

#hamburger-menu.active .fa-bars {
  transform: rotate(90deg);
  color: rgb(223, 14, 14);
}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: auto;
  background-color: rgba(16, 45, 74, 0.8);
  color: white;
  z-index: 99;
  transition: left 0.3s ease-in-out;
}

#nav-bar ul {
  list-style: none;
  padding: 0;
  margin-top: 30%;
}

#nav-bar li {
  padding: 10px 0;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Handjet", cursive;
  font-weight: bold;
}

#nav-bar ul li {
  display: flex;
  align-items: center; /* Vertically center align the icon and text */
  margin-bottom: 10px; /* Add spacing between list items */
}

#nav-bar ul li i {
  margin-right: 10px; /* Add spacing between the icon and text */
}

#nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.2s;
}

#nav-bar a:hover {
  color: #ffd700;
}

#nav-bar.hidden {
  left: -100%;
}

/* Section */
.section {
  padding: 80px 0;
  text-align: center;
  color: #ffffff;
}

/* icons */
.fa-solid {
  font-size: 200px;
}

.section:hover .fa-solid:before {
  animation: glowing 1s infinite;
}

/* Introduction Styling */
#introduction {
  background-color: #191d28;
  position: relative;
  overflow: hidden;
  font-family: "Handjet", cursive;
  font-size: 30px;
}

#introduction h1 {
  color: #ffd700;
}

#introduction p {
  font-family: "Handjet", cursive;
}

.highlight {
  color: #ffd700;
  font-weight: bolder;
}

#introduction .particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  animation: moveParticle 4s linear infinite;
}

/* Skills Styling */
#skills {
  background-color: #191d28;
  position: relative;
  overflow: hidden;
  font-family: "Handjet", cursive;
  font-size: 30px;
}

#skills h1 {
  color: #ffd700;
}

#skills .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17px solid #ffffff;
  animation: moveTriangle 5s ease-in-out infinite alternate;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skills-icons .skill:hover {
  animation: neonGlow 1.5s infinite alternate;
}

/* Skill container */
.skill-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-container.glow .skill {
  filter: drop-shadow(0 0 10px #ffd700);
}

.skill-popup.show {
  display: block;
  animation: fadeIn 0.3s forwards;
}

/* Popup box for displaying programming language name */
.skill-popup {
  position: absolute;
  display: none;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Handjet", cursive;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  white-space: nowrap;
  z-index: 1;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/* Show popup on hover */
.skill-container:hover .skill-popup {
  display: block;
  animation: fadeIn 0.3s forwards;
}

.skills-icons i {
  font-size: 2.5rem;
  margin: 0 15px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.skill {
  margin: 0 15px;
  text-align: center;
}

/* Project Styling */
#projects {
  background-color: #191d28;
  position: relative;
  overflow: hidden;
  font-family: "Handjet", cursive;
  font-size: 30px;
}

#projects h1 {
  color: #ffd700;
}

#projects h2 {
  color: #ffd700;
  font-family: "Handjet", cursive;
}

#projects p {
  font-family: "Handjet", cursive;
}

#projects a {
  font-family: "Handjet", cursive;
  font-weight: bold;
  color: #ffd700;
}

#projects .line {
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0;
}

/* Additional styling for projects section */
.project {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.project h2 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 15px;
}

.project a {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.project a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

/* Center the copyright text */
footer {
  text-align: center;
  font-family: "Handjet", cursive;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191d28;
  color: white;
  padding: 10px;
}

/* glowing effect */
@keyframes glowing {
  0% {
    transform: scale(1);
    color: #ffffff;
    text-shadow: none;
  }
  50% {
    transform: scale(1.2);
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700;
  }
  100% {
    transform: scale(1);
    color: #ffffff;
    text-shadow: none;
  }
}

/* Neon glow animation */
@keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 5px #ffd700);
    transform: scale(1);
  }
  100% {
    filter: drop-shadow(0 0 10px #ffd700);
    transform: scale(1.1);
  }
}

/* Fade-in animation for popup */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #191d28; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34495e; /* Color of the handle */
  border-radius: 5px; /* Rounded corners of the handle */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3e50; /* Color of the handle on hover */
}

/* Common styles for mobile devices */
@media (max-width: 768px) {
  #hamburger-menu {
    display: block;
  }
  #nav-bar {
    width: 50%;
  }

  .skills-icons {
    flex-direction: column;
    align-items: center;
  }

  .skills-icons .skill {
    width: 50px;
    height: 50px;
  }

  .row {
    flex-direction: column; /* Stack skill rows vertically */
    align-items: center; /* Center the skill rows horizontally */
  }

  .skill-container {
    margin: 10px 0; /* Add some spacing between skill icons */
  }

  /* Adjust the width and height of skill icons as needed */
  .skill {
    width: 50px;
    height: 50px;
  }
  /* Adjust other styles as needed */
}
